body,
html {
    margin: 0;
    height: 100%;
}

.fullscreen-app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.ant-form>.ant-flex-vertical {
    gap: 0;
}

.ant-form-item:last-of-type {
    margin-bottom: 0;
}

.ant-select {
    width: 100%;
}

.ant-select-dropdown {
    z-index: 99999999;
}

.ant-flex {
    flex-wrap: wrap;
    gap: 1em;
}

.ant-tag {
    margin-inline-end: 0;
    height: max-content;
    align-self: center;
}

.ant-flex2 {
    align-items: baseline;
}

.ant-flex3 {
    align-items: center;
}

.ant-drawer-content-wrapper {
    width: 300px !important;
}

.ant-drawer-content {
    width: 300px !important;
}

// 表格里面的 flex 打横，不要 wrap
td>.ant-flex {
    flex-wrap: nowrap;
}

// 和 .ant-flex 对着干
.neko-flex {
    flex-wrap: nowrap;
    align-items: baseline;
}

.neko-settings-flex-line {
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
    white-space: nowrap;
}

.always-wrap-text {
    width: 100%;
    white-space: wrap;
    overflow-wrap: anywhere;
}

// 表格

.ant-table-wrapper {
    width: 100%;
}

.ant-pro-table {
    width: 100%;
}

.ant-pro-table .ant-pro-card {
    padding: 0;
    background-color: unset;
}

.ant-table {
    overflow-x: auto;
}

.ant-table th {
    white-space: nowrap;
}

.ant-table td {
    white-space: nowrap;
}

// modal

.ant-modal {
    overflow: auto;
}

.ant-modal-confirm-paragraph {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100% !important;
}

// card

.ant-card {
    width: 100%; // 不要超界了
}

// 对齐(全屏用)


.dq-1 {
    font-weight: bold;
    flex: 1;
}

@media (min-width: 800px) {
    .dq-2 {
        flex: 1;
        max-width: 50%;
    }
}

.dq-2 .ant-switch {
    margin-left: 2em;
}


// 对齐(弹窗用)

.dq-3 {
    width: 100%;
}

.dq-3>:first-child {
    width: 100%;
}

.left-margin {
    margin-left: 2em;
}

// 对齐 ?

.dq-4 {
    flex: 1;
    text-align: right;
}

// 透明主题

.my-theme-trans.fullscreen-app {
    background-image: var(--bg-image-desktop);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    @media (max-width: 800px) {
        background-image: var(--bg-image-mobile);
    }
}

.my-theme-trans .ant-card {
    background-color: rgba(255, 255, 255, 0.2);
}

.my-theme-trans.my-theme-dark .ant-card {
    background-color: rgba(0, 0, 0, 0.2);
}

.my-theme-trans .ant-table {
    background-color: rgba(255, 255, 255, 0.4);
}

.my-theme-trans.my-theme-dark .ant-table {
    background-color: rgba(0, 0, 0, 0.2);
}

.my-theme-trans .ant-menu-item-selected {
    background-color: rgba(230, 244, 255, 0.5);
}

.my-theme-trans.my-theme-dark .ant-menu-item-selected {
    background-color: rgba(17, 26, 44, 0.5);
}

.my-theme-trans .ant-btn-default {
    // border-width: 2px;
    box-shadow: none;
}

.my-theme-trans.my-theme-dark a {
    color: hsl(212 100% 70% / 1);
}

.my-theme-trans .ant-btn-primary {
    box-shadow: none;
}

.my-theme-trans .ant-tag {
    background: unset;
}